/2do_Semestre/2.Java/Clase2/Clase2/nbproject/private/
/2do_Semestre/2.Java/Clase2/Clase2/build/
/2do_Semestre/2.Java/Clase2/JavaApplication5/nbproject/private/
/2do_Semestre/2.Java/Clase2/Gol/nbproject/private/
/2do_Semestre/2.Java/Clase2/goles/nbproject/private/
/2do_Semestre/2.Java/Clase2/goless/nbproject/private/
/2do_Semestre/2.Java/Clase2/Clase3/nbproject/private/
/2do_Semestre/2.Java/Clase3/Clase3/nbproject/private/
/2do_Semestre/2.Java/Clase3/Clase3/build/
